# Ignore the build
build

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore IDE config directories
.idea/*

# Ignore test source
test_source.txt

cmake-build-debug
cmake-build-release
